{# Template Created By: DDV <ddv@qubitlogic.net> #}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    <div class="separator-shadow-top bottom-margin">
        <img alt="" src="{{ asset('bundles/mainsite/images/shadow-separator-wide-top.png') }}">
    </div>
    <h2 class="header-lined">Registration</h2>
    <div class="container-form">
    <div class="row">
    <div class='span12'>
    <form class="form-inline" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" role="form">
    <div class="form-group registration">
        <div class="row">
            <div class="span12">{{ form_errors(form) }}</div>
        </div>
        <div class="row">
            <div class='span4'>First Name</div>
            <div class='span8'>{{ form_widget(form.firstName,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
        <div class="row">
            <div class='span4'>Last Name</div>
            <div class='span8'>{{ form_widget(form.lastName,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
        <div class="row">
            <div class='span4'>Email</div>
            <div class='span8'>{{ form_widget(form.email,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
        <div class="row">
            <div class='span4'>User Name</div>
            <div class='span8'>{{ form_widget(form.username,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
        <div class="row">
            <div class='span4'>Password</div>
            <div class='span8'>{{ form_widget(form.plainPassword.first,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
        <div class="row">
            <div class='span4'>Verify Password</div>
            <div class='span8'>{{ form_widget(form.plainPassword.second,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
        <div class="row">
            <div class='span4'>Company</div>
            <div class='span8'>{{ form_widget(form.company,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
        </div>
    </div>
    <div class="form-group">
    <div class="row">
        <div class='span4'>City</div>
        <div class='span8'>{{ form_widget(form.city,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    <div class="row">
        <div class='span4'>State</div>
        <div class='span8'>{{ form_widget(form.state,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    <div class="row">
        <div class='span4'>Zip Code</div>
        <div class='span8'>{{ form_widget(form.zip,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    <div class="row">
        <div class='span4'>Country</div>
        <div class='span8'>{{ form_widget(form.country,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    <div class="row">
        <div class='span4'>Address</div>
        <div class='span8'>{{ form_widget(form.address,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    <div class="row">
        <div class='span4'>Phone</div>
        <div class='span8'>{{ form_widget(form.phone,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    <div class="row">
        <div class='span4'>Pin</div>
        <div class='span8'>{{ form_widget(form.pin,{'attr': {'style': 'width:300px;', 'class': 'form-control', 'required': 'required'}}) }}</div>
    </div>
    </div>

    </div>
    </div>
    <div class="row">
        <div class='span12'><br/><br/>
            <input type="submit" class="btn btn-clean-dark" id="form_register" name="form_register" value="Sign Up" />
            {{ form_end(form) }}
            <br/><br/>
        </div>
    </div>
    </div>
    <div class="separator-shadow-bottom bottom-margin">
        <img alt="" src="{{ asset('bundles/mainsite/images/shadow-separator-wide-bottom.png') }}">
    </div>

{% endblock fos_user_content %}