{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends 'MainUserBundle::userArea.html.twig' %}

{% block title 'Confirm Order' %}

    {% block user_header 'Confirm Order' %}

    {% block user_content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
                <div class="col-md-10 col-md-offset-2">
                    <div class="well well-sm col-md-5">
                        <h2>Confirm {{ type|capitalize }} {{ direction|capitalize }} Order</h2>
                        <p>Please review the details of your order and confirm.</p>
                        <div class="col-md-12">
                            {% if direction == "buy" %}
                                {% set costWord = 'Cost' %}
                            {% else %}
                                {% set costWord = 'Paid' %}
                            {% endif %}
                            <ul>
                                <li>Amount of BTC: {{ amount }}</li>
                                <li>Price: ${{ price }}</li>
                                <li>Total before Fees: ${{ totalWorth }}</li>
                                <li>Fee: ${{ fee }} ({{ feePercent }}%)</li>
                                <li>{{ costWord }} to You: ${{ cost }}</li>
                            </ul>
                            {% if confirmAllowed == true %}
                                {{ form_start(form) }}
                                <p>{{ form_row(form.pin) }}</p>
                                <input type="submit" class="btn btn-primary" value="Confirm"/>
                                {{ form_end(form) }}
                                {% if type == "instant" %}
                                    <p>*Price &amp; Cost subject to change until confirmed due to market change.</p>
                                {% endif %}
                            {% else %}
                                <p><a href="#" class="btn disabled btn-primary">Confirm</a></p>
                            {% endif %}

                        </div>

                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="col-md-10 col-md-offset-1">
                    {{ render(controller('MainMarketBundle:Default:view', {'max': 10})) }}
                </div>
            </div>
        </div>
    {% endblock user_content %}