{# Template Created By: DDV <ddv@qubitlogic.net> #}



        {% if max == 100 %}
            <h2>Offer Book</h2>
        {% else %}
            <h2>Top {{ max }} Offers</h2>
        {% endif %}
        <div class="col-md-6">
            <table class="table table-hover">
                <legend>Buy</legend>
                <tr>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Value</th>
                </tr>
                {% for bo in buyOffers if buyOffers[0] is defined %}
                    <tr>
                        <td>${{ bo.price }}</td>
                        <td>{{ bo.amount }}</td>
                        <td>${{ bo.value }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No Buy Offers</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <legend>Sell</legend>
                <tr>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Value</th>
                </tr>
                {% for so in sellOffers if sellOffers[0] is defined %}
                    <tr>
                        <td>${{ so.price }}</td>
                        <td>{{ so.amount }}</td>
                        <td>${{ so.value }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No Sell Offers</td>
                    </tr>
                {% endfor %}
            </table>
        </div>