{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends "MainUserBundle::userArea.html.twig" %}

{% block title 'Profile' %}

{% block user_header 'Profile' %}

{% block user_content %}
    {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
    <div class="col-md-4 well well-lg">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Last Login: {{ user.lastLogin|date('Y-m-d H:i:s T') }}</p>
        <p>USD Balance: ${{ user.fiatBalance|default(0)|number_format(2, '.', ',') }}</p>
        <p>Bitcoin Balance: {{ user.btcBalance|default(0) }} BTC</p>
        <p>Verified:
        {% if user.verified == 0 %}
            No
        {% else %}
            Yes
        {% endif %}
        </p>
    </div>

{% endblock user_content %}