{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-md-4 well well-lg">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Last Login: {{ user.lastLogin|date('Y-m-d H:i:s T') }}</p>
        <p>USD Balance: ${{ user.fiatBalance|default(0) }}</p>
        <p>Bitcoin Balance: {{ user.btcBalance|default(0) }} BTC</p>
        <p>Verified:
        {% if user.verified == 0 %}
            No
        {% else %}
            Yes
        {% endif %}
        </p>
    </div>
    <div class="col-md-2 pull-right">
        <p><a href="{{ path('user_verify') }}" class="btn btn-success">Verify</a></p>
        <p><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Edit Profile</a></p>
        <p><a href="{{ path('user_withdraw') }}" class="btn btn-info">Withdraw</a></p>
    </div>
    <div class="clearfix"></div>
        <div class="col-md-12">
            <table class="table table-hover">
                <legend>Transaction History</legend>
                <tr>
                    <th>Transaction ID</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for tr in transactions if transactions[0] is defined %}
                    {% if tr.transactionType == 'deposit' %}
                        {% set row_class = 'success' %}
                        {% set transaction_type = 'Deposit' %}
                    {% elseif tr.transactionType == 'withdrawal' %}
                        {% set row_class = 'danger' %}
                        {% set transaction_type = "Withdrawal" %}
                    {% else %}
                        {% set row_class = '' %}
                        {% set transaction_type = "Market Payment" %}
                    {% endif %}
                    <tr class="{{ row_class }}">
                        <td>{{ tr.id }}</td>
                        <td>{{ transaction_type }}</td>
                    {% if tr.currency.type == 'fiat' %}
                        <td>${{ tr.amount }}</td>
                    {% else %}
                        <td>{{ tr.amount }} BTC</td>
                    {% endif %}
                        <td>{{ tr.created|date('Y-m-d H:i:s T') }}</td>
                        <td>{{ tr.status|capitalize }}</td>
                        <td><a href="{{ path('transaction_view', {'transaction': tr.id}) }}" class="btn-sm btn-info">View</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No Transaction History</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <div class="clearfix"></div>

{% endblock fos_user_content %}