{% extends '::index_base.html.twig' %}

{% block title 'Index' %}

{% block content %}
    <div class='separator-shadow-bottom'>
        <img alt='' src='{{ asset('bundles/mainsite/images/shadow-separator-wide-bottom.png') }}'>
    </div>
    <section class='leaderboard leaderboard-style-one'>
    <div class='container'>
    <h1 class='animated fadeInDown'>Buying and selling Bitcoins...</h1>

    <h2 class='animated fadeInDown'>Has never been easier.</h2>

    <div class='relative-w'>
    <div class='loupe loupe-left animated rollIn'>
    <img alt='' src='{{ asset('bundles/mainsite/images/home_coins.jpg') }}'>
                </div>
                <div class='loupe loupe-right animated fadeInRightBig'>
    <img alt='' src='{{ asset('bundles/mainsite/images/home_keyboard.jpg') }}'>
                </div>
                <div class='frame-browser animated bounceInUp'>
    <div class='frame-buttons'>
        <div class='frame-button-close'></div>
        <div class='frame-button-max'></div>
        <div class='frame-button-min'></div>
    </div>
    <div class='frame-browser-image'>
        <img alt='' src='{{ asset('bundles/mainsite/images/home_hero.png') }}'>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class='separator-shadow-top above-screenshot-shadow'>
        <img alt='' src='{{ asset('bundles/mainsite/images/shadow-separator-wide-top.png') }}'>
    </div>
</div>
<div class='area-content'>
        <div class='container'>
            <div class='separator-shadow-top sub-screenshot-shadow'>
                <img alt='' src='{{ asset('bundles/mainsite/images/shadow-separator-wide-top.png') }}'>
        </div>
        <div class='iconed-features lift-on-hover style-1'>
                <div class='row'>
                    <div class='col-md-4'>
                        <div class='iconed-feature' href='#'>
                            <div class='feature-icon-w'>
                                <i class='icon-usd'></i>
                            </div>
                            <h4>Account Funding</h4>

                            <ul class="list-checkmarked blurb-list">
                                <li>International Bank Wire Funding</li>
                                <li>Low Funding/Withdrawal Fees</li>
                                <li>BillPay</li>
                                <li>Numerous Payment Options</li>
                            </ul>


                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class='iconed-feature' href='#'>
                            <div class='feature-icon-w'>
                                <i class='icon-globe'></i>
                            </div>
                            <h4>Live Exchange</h4>

                            <ul class="list-checkmarked blurb-list">
                                <li>Hundreds of Open Orders</li>
                                <li>0.5% Trading Fee</li>
                                <li>Unprecedented Liquidity</li>
                                <li>Market and Limit Orders</li>
                            </ul>


                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class='iconed-feature' href='#'>
                            <div class='feature-icon-w'>
                                <i class='icon-lightbulb'></i>
                            </div>
                            <h4>Features</h4>

                            <ul class="list-checkmarked blurb-list">
                                <li>Superior Customer Service</li>
                                <li>Secure SSL Encryption</li>
                                <li>Inter-Account Transfers</li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class='area-content'>
        <div class="highlight-content highlighted-image text-center cta-box light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>News and Updates</h1>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 news-text">
                        <div class="news-post-title">Quadriga CX Is Online</div>
                        <div class="news-post-body-text">After extensive development and testing, the Quadriga Coin Exchange is online! We are currently open for business, however our website remains in the "Beta" phase. While you may use Quadriga CX to buy and sell Bitcoins, you may encounter occasional errors that we are working to resolve. You can help Quadriga CX by contacting us with any technical issues that you encounter.</div>
                        <div class="news-post-title">Quadriga CX Development</div>
                        <div class="news-post-body-text">In light of the lack of competition within the Canadian Bitcoin Exchange market, a group of entrepreneurs and avid Bitcoin users from Vancouver and Toronto are collaborating to create Canada's best Bitcoin Exchange platform. Please check back regularly as Quadriga CX develops into the most convenient ways to buy and sell Bitcoins on the planet.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}