{# Template Created By: DDV <ddv@qubitlogic.net> #}


    <div class="separator-shadow-top bottom-margin">
        <img alt="" src="{{ asset('bundles/mainsite/images/shadow-separator-wide-top.png') }}">
    </div>
    {% if max == 100 %}
        <h2 class="header-lined">Open Orders</h2>
    {% else %}
        <h2 class="header-lined">Top {{ max }} Open Orders</h2>
    {% endif %}
    <h3 class="header-lined">Buy</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
            <th>
                Value
            </th>
        </tr>
        </thead>
        <tbody>
        {% for bo in buyOffers if buyOffers[0] is defined %}
            <tr>
                <td>${{ bo.price }}</td>
                <td>{{ bo.amount }}</td>
                <td>${{ bo.value }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Buy Offers</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3 class="header-lined">Sell</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
            <th>
                Value
            </th>
        </tr>
        </thead>
        <tbody>
        {% for so in sellOffers if sellOffers[0] is defined %}
            <tr>
                <td>${{ so.price }}</td>
                <td>{{ so.amount }}</td>
                <td>${{ so.value }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Sell Offers</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="separator-shadow-bottom bottom-margin">
        <img alt="" src="{{ asset('bundles/mainsite/images/shadow-separator-wide-bottom.png') }}">
    </div>
