{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends '::base.html.twig' %}

{% block title 'Transaction View' %}

    {% block content %}
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3 col-md-offset-3 well well-sm">
                    <h2>Transaction #{{ transaction.id }}</h2>
                    {% if transaction.currency.type == 'fiat' %}
                        {% set amount = transaction.amount|number_format(2, '.', ',') %}
                        {% set icon = "$" %}
                    {% else %}
                        {% set amount = transaction.amount %}
                        {% set icon = "" %}
                    {% endif %}
                    <ul>
                        <li><strong>Amount:</strong> {{ icon }}{{ amount }}</li>
                        <li><strong>Method:</strong> {{ transaction.currency.name }}</li>
                        <li><strong>Currency:</strong> {{ transaction.currency.tla }}</li>
                        <li><strong>Type:</strong> {{ transaction.transactionType|capitalize }}</li>
                        <li><strong>Date:</strong> {{ transaction.created|date('Y-m-d H:i:s T') }}</li>
                        <li><strong>Status: </strong> {{ transaction.status|capitalize }}</li>
                    </ul>
                    <div class="col-md-12 col-md-offset-3">
                        {% if transaction.status == 'pending' and transaction.currency.type != 'digital' %}
                            <p><a href="{{ path('transaction_confirm', {'transaction': transaction.id}) }}" class="btn btn-lg btn-primary">Confirm</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}