{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends '::base.html.twig' %}

{% block title 'USD Withdraw Confirm' %}

    {% block content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
                <div class="col-md-7 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>{{ method }} Withdraw Confirmation</h2>
                        <p>Please enter your receiving details.</p>
                        <p>The amount has been adjusted to include the required fees. The amount you will receive is the original amount you entered.</p>
                        {{ form_start(form) }}
                        <legend>Withdraw Details</legend>
                        {{ form_row(form.name) }}
                        {% if method == 'ETF/Wire Transfer' %}
                            {{ form_row(form.address) }}
                            {{ form_row(form.city) }}
                            {{ form_row(form.state) }}
                            {{ form_row(form.country) }}
                            {{ form_row(form.zip) }}
                            {{ form_row(form.bank) }}
                            {{ form_row(form.bankAddress) }}
                            {{ form_row(form.bankCity) }}
                            {{ form_row(form.bankState) }}
                            {{ form_row(form.bankCountry) }}
                            {{ form_row(form.bankZip) }}
                            {{ form_row(form.swift) }}
                            {{ form_row(form.account) }}
                        {% elseif method == 'Western Union' %}
                            {{ form_row(form.location) }}
                        {% endif %}
                        {{ form_row(form.amount) }}
                        {{ form_row(form.pin) }}
                        {{ form_row(form.confirm) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}